@mixin display-flex {
    display: flex;
}

@mixin flex($value) {
    flex: $value;
}

@mixin flex-auto {
    flex: auto;
}

@mixin align-content($value) {
    align-content: $value;
}

@mixin align-items($value) {
    align-items: $value;
}

@mixin align-self($value) {
    align-self: $value;
}

@mixin justify-content($value) {
    justify-content: $value;
}

@mixin order($value) {
    order: $value;
}

@mixin flex-basis($value) {
    flex-basis: $value;
}

@mixin flex-direction($value) {
    flex-direction: $value;
}

@mixin flex-flow($value) {
    flex-flow: $value;
}

@mixin flex-grow($value) {
    flex-grow: $value;
}

@mixin flex-shrink($value) {
    flex-shrink: $value;
}

@mixin flex-wrap($value) {
    flex-wrap: $value;
}
